<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>make ToDo 만들어보기</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Todo List</h1>
            <div id="todo-list-example">
                <input class="todo-input" 
                    v-model="newTodoText"
                    @keyup.enter="addNewTodo"
                    placeholder="Add a todo"
                >
                <ul class="tasks">
                    <li
                        is="todo-item"
                        v-for="(todo, index) in todos"
                        :class="{completed: todo.completed}"
                        :key="todo.id"
                        :task="todo.task"
                        @remove="todos.splice(index, 1)"
                        @toggle='todo.completed = !todo.completed'
                    ></li>
                </ul>
            </div>
        </div>
    <script>
        Vue.component('todo-item', {
            computed: {
                todos() {
                    return doData;
                }
            },
            template:
                '<li @click="$emit(\'toggle\')" @dblclick="$emit(\'remove\')">{{ task }}</li>',
            props: ['task'],
            /*methods:{
                delTodo: function(id) {
                    this.$store.dispatch("deleteTodo", id);
                }
            }*/
        })
        var doData=[
                    {
                        id: 0,
                        task: 'Study Vue',
                        completed: false,
                    },
                    {
                        id: 1,
                        task: 'Making Something by vue(todo)',
                        completed: true,
                    }
                ];
        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: doData,
                nextTodoId: 2
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        task: this.newTodoText,
                        completed:false
                    })
                    this.newTodoText = ''
                }
            }
        })
        
    </script>
    
</body>
</html>